@section Header{
<header id="header">
	<hgroup>
		<h1 class="site_title"><a href="/user/index">Website Admin</a></h1>
		<h2 class="section_title">Dashboard</h2><div class="btn_view_site"><a href="javascript:;">View Site</a></div>
	</hgroup>
</header> <!-- end of header bar -->
}